body{
    background-image: linear-gradient(white, rgb(254, 255, 191), rgb(251, 255, 0));
    font-size: medium;
    font-family: 'comic sans ms';
    color: #000000;
}
.main_header{   
    background-image: linear-gradient(rgb(237, 175, 121), blanchedalmond, rgb(234, 198, 165));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.main_header a{
    text-decoration: none;
}

.header_info a{
    text-decoration: none;
    margin: 10px;
    padding: 0 25px;
    color: #000000;
}

nav a{
    margin-bottom: 50px;
    margin: 10px;
    color: #000000;
}

.opening{
    margin: 70px;
    text-align: center;
    flex-direction: row;
    font-size: larger;
}

.opening_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.description{
    margin-left: 20px;
    text-align: left;
}

img{
    height: 200px;
    width: 200px;
    margin: 0;
}
.product{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(blanchedalmond, rgb(237, 175, 121));
}

.products{
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.furniture{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.product img{
    height: 200px;
    width: 180px;
    margin: 10px;
}

.product p{
    margin-top: 30px;
}