.main_header{
    background-image:  linear-gradient(blanchedalmond, rgb(237, 175, 121), white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    z-index: 1;
}
.header_info{
    text-decoration: none;
    color:aquamarine;
    margin: 10px;
    
}

.header_info a{
    color: rgb(229, 229, 147);
}

nav a{
    color: rgb(229, 229, 147);
    margin: 10px;
}

a{
    text-decoration: none;  

}

.opening{
    margin: 70px;
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
    margin: 0;
}

.product{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    background-image:  linear-gradient(blanchedalmond, rgb(237, 175, 121));
}

.products{
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.furniture{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.product img{
    height: 200px;
    width: 180px;
    margin: 10px;
}

.product p{
    margin-top: 30px;
}