.main_header{
    background-image: linear-gradient(rgb(6, 23, 175), rgb(0, 0, 0));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    z-index: 1;
}
.header_info{
    text-decoration: none;
    color:aquamarine;
    margin: 10px;
    
}

.header_info a{
    color: yellow;
}

nav a{
    color:ghostwhite;
    margin: 10px;
}

a{
    text-decoration: none;  
}